<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <title>Weather App</title>
    <div class="content">
        <h1 style="text-align: center;">Search</h1>
        <div class="form">
            <form action="/weatherapp" method="POST">
               <label for="city">Enter City:</label> 
               <input type="text" name="city" id="city">

               <label for="units">Enter Units:</label>
               <input type="text" name="units" id="units">

               <label for="appid">Enter API Key:</label>
               <input type="text" name="appid" id="appid">
               <input type="submit" value="search">
            </form>
        </div>
    </div>
</body>
</html>